@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");


body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("chain.png");
}

.container{
  width: 100%;
  margin: 1em auto;
}

.grid{
  display: grid;
  margin-left: 5%;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 0.2em;
  justify-content: center;
  width: 90%;

}

.card-img-top{
  width: 50%;
  height: 10%;
}
.grid-item {
  width: 90%;
  height: 50%;
}

h2{
  background-color: #ffffff;
}

.logo{
  background-image: url("logo.svg");
}